# IBM watsonx.ai API Configuration
WATSONX_API_KEY =Zi6yTg7pWjdEgCbzE19oC85MySetScMrjgAwjh03jguu
WATSONX_PROJECT_ID =3bdcefcf-27ae-496d-9f68-be8df04b8745
WATSONX_URL =https://api.us-east.assistant.watson.cloud.ibm.com/instances/ea028fbb-a1b6-4764-b005-0e7dd04c7248

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000

# CORS Configuration
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# LangFlow Configuration (if using external LangFlow instance)
LANGFLOW_URL=http://localhost:7860
LANGFLOW_API_KEY=sk-P8RcOr7-zDErbDU1Un1cJL3l-zozgr45sazXhUcX-2U